* {
    box-sizing: border-box;
}

html {
    background-color: #22221d;
    color: #d9d9d9;
}

body {
    display: flex;
    min-height: 100vh;
}

hr {
    display: block;
    margin: 2rem;
    height: 1px;
    background-color: #ffffff;
}

.aside {
    display: flex;
    min-height: 100vh;
    align-items: center;
    position: fixed;
    margin-left: 2rem;
}

.aside__item {
    display: block;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.container {
    padding: 16px;
    margin: 0 auto;
    max-width: 800px;
    line-height: 1.4;
    overflow-x: hidden;
    height: 100%;
}

.card {
   display: flex;
}

.stack {
    display: flex;
}

.portrait {
    width: 10rem;
    height: 10rem;

    margin-right: 2rem;
}