@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

* {
	box-sizing: border-box;

	--link: #a9b665;
	--link-secondary: #717a45;
	--bg-first:#22221d;
}

:root {
    --bg-first: #222;
    --bg-second: #333;
    --bg-third: #373737;

    --txt-first: #ddd;
    --txt-second: #b3b3b3;

    --accent-color: #ff7300;
    --accent-color-second: #be5600;
}

html {
	background-color: var(--bg-first);
	color: #d9d9d9;
}

body {
	display: flex;
	min-height: 100vh;
}

hr {
	display: block;
	margin: 2rem;
	height: 1px;
	background-color: #ffffff;
}

.container {
	padding: 16px;
	margin: 0 auto;
	max-width: 800px;
	line-height: 1.4;
	overflow-x: hidden;
	height: 100%;
}

.card {
	display: flex;
}

.stack {
	display: flex;
}

.portrait {
	width: 10rem;
	height: 10rem;

	margin-right: 2rem;
}
